<footer>
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <section>
     <div>
        <p class="feed-subscribe">
           <a href="{{ 'feed.xml' | relative_url }}">
              <svg class="svg-icon orange">
                 <use xlink:href="{{ 'assets/social-icons.svg#rss' | relative_url }}"></use>
              </svg>
              <span>Subscribe</span>
           </a>
        </p>
        <ul class="contact-list">
           <li >{{ site.author.name | escape }}</li>
           <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        </ul>
     </div>
  </section>
  <section>
     {%- include social.html -%}
  </section>
</footer>