footer {
  padding: $spacing-unit 0;
  padding: 10px 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  // HACK 2022-01-24 h2-> `position: relative;` causes some crappy styling, this is a quick fix for now 
  z-index: 100;
  .social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 5px 10px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        display: block;
        padding: $spacing-unit / 4;
        border: 1px solid $border-color-01;
        &:hover {
          border-color: $border-color-02;
        }
      }
    }
  }
}



h1, h2 {
  a {
  display: inline-block;
  position: relative;
  color: $link-base-color;
  text-decoration: none;
  }

  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $link-base-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover{
    text-decoration: none;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

header {
  text-align: center;
  top: auto;
  margin: 3em auto;
  h1 {
    text-transform: uppercase;
  }
  h2 {
    font-size: 1em;
  }
  img {
    border-radius: 50%;
    max-width: $aside-imgage-size;
  }
}

aside {
  color: $text-color;
  background-image: url("/assets/background.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  // transition: background 1s;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      .button {
        padding: 0.5em 1em;
        border: 2px solid $brand-color;
        color: $text-color;
        text-transform: uppercase;
        font-size: 85%;
        &:hover, &:focus {
          border: 2px solid $link-base-color;
          text-decoration: none;
        }
      }
    }
  }
}

address{
  font-style: normal;
  text-align: center;
}

main{
  margin: 1em;
}

article {
  padding-bottom: 10em;
  header {
    margin-bottom: $spacing-unit;
    p {
      font-size: $small-font-size;
      color: $brand-color;
    }
  } 
  section {
    margin-bottom: $spacing-unit;
  
    h1,
    h2,
    h3 {
      margin-top: $spacing-unit * 2;
    }
    h4,
    h5,
    h6 {
      margin-top: $spacing-unit;
    }
  
    h2 {
      @include relative-font-size(1.75);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
    }
  
    h5 {
      @include relative-font-size(1.125);
    }
    h6 {
      @include relative-font-size(1.0625);
    }

    ul, ol{
      margin: 1em;
    }
    ul{
      list-style: circle;
    }
  
    ol{
      list-style: decimal
    }
  }
  
  header h1, section h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1.15;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }
}

@media screen and (min-width: $on-medium) {
  footer section {
    display: flex;
  }
}

@media screen and (min-width: $on-large) {
  main {
    padding: 2em 3em 0;
    margin-left: $nav-size;
    header {
      text-align: left;
    }
  }

  aside {
    width: $nav-size;
    position: fixed;
    top: 0;
    bottom: 0;
    header {
      max-width: $aside-imax-width;
      margin: 20% auto;
      text-align: right;
      h2 {
        font-size: 1.5em;
      }
    }
  }

  footer {
    text-align: center;
    position: absolute;
    background-color: transparent
  }   
}
