footer {
  padding: $spacing-unit 0;
  padding: 10px 0;
  bottom: 0;
  height: $footer-size;
  width: 100%;
  background-color: black;
  .social-media-list {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      margin: 5px 10px 5px 0;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        display: block;
        &:hover {
          border-color: $border-color-02;
        }
      }
    }
  }
}


body > header {
  // Snazzy background effect
  background: linear-gradient(-45deg, $brand-color-dark, $background-color, $code-background-color, $brand-color);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  color: $text-color;
  text-align: center;
  top: auto;
  padding-bottom: $header-margin;

  h1 {
    font-size: 1.5em;
    margin: $header-margin;
  }
  h2 {
    margin: $header-margin;
  }
  img {
    border-radius: 50%;
    max-width: $header-image-size;
    margin: $header-margin;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  text-align: left;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      *display: inline;
      zoom: 1;
    }
  }
}

address{
  font-style: normal;
  text-align: center;
}

main{
  margin: 1em;
  header {
    text-align: center;
  }
}

.posts {
  padding-bottom: $footer-size;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: flex-start;
    // justify-content: flex-start;
    justify-content: center;
  }

  li {
    display: inline-block;
  }
}


.button {
  padding: 1em;
  color: $text-color;
  text-transform: uppercase;
  &:hover, &:focus {
    text-decoration: none;
  }
}

article {
  max-width: $on-laptop;
  padding-bottom: $footer-size;
  margin: auto;
  header {
    margin-bottom: $spacing-unit;
    p {
      font-size: $small-font-size;
      color: $brand-color;
    }
  } 
  section {
    margin-bottom: $spacing-unit;
  
    h1,
    h2,
    h3 {
      margin-top: $spacing-unit * 2;
    }
    h4,
    h5,
    h6 {
      margin-top: $spacing-unit;
    }
  
    h2 {
      @include relative-font-size(1.75);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2);
      }
    }
  
    h3 {
      @include relative-font-size(1.375);
  
      @media screen and (min-width: $on-large) {
        @include relative-font-size(1.625);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
    }
  
    h5 {
      @include relative-font-size(1.125);
    }
    h6 {
      @include relative-font-size(1.0625);
    }

    ul, ol{
      margin: 1em;
    }
    ul{
      list-style: circle;
    }
  
    ol{
      list-style: decimal
    }
  }
  
  header h1, section h1 {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1.15;
  
    @media screen and (min-width: $on-large) {
      @include relative-font-size(2.625);
    }
  }
}

@media screen and (min-width: $on-medium) {
  footer section {
    display: flex;
  }
}

@media screen and (min-width: $on-large) {
  .posts {
    li {
      height: $post-card-height;
      width: $post-card-width;
      padding: 1em;
    }
  }
  main {
    padding: 2em 3em 0;
  }

  footer {
    text-align: center;
    background-color: transparent
  }   
}
