---
layout: default
---

{% assign posts = site.posts %}
{%- if page.title -%}
  <h1 >{{ page.title }}</h1>
{%- endif -%}

{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
    
  {{ content }}
    
  <ul>
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h2>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <p class="post-description">
      {{ post.excerpt }}
    </p>     
  </li>
{%- endfor -%}
</ul>
{%- endif -%}
