---
layout: default
---

{% assign posts = site.posts %}
{%- if page.title -%}
<h1 >{{ page.title }}</h1>
{%- endif -%}
{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2>{{ page.list_title }}</h2>
{%- endif -%}
{{ content }}
<ul>
  {%- assign date_format = "%b %-d, %Y" -%}
   {%- for post in posts -%}
   <li>
      <h2>
         <a href="{{ post.url | relative_url }}">
         {{ post.title | escape }}
         </a>
      </h2>
      {% capture time %}{{ post.content | reading_time }}{% endcapture %}
      <span>{{ post.date | date: date_format }} - {{ time }} min read</span>
      <p>
         {{ post.excerpt }}
      </p>
   </li>
   {%- endfor -%}
</ul>
{%- endif -%}
