---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
     <h1 itemprop="name headline">{{ page.title | escape }}</h1>
     
     {%- if page.category -%}
     {% assign category_name = page.category | default: "" %}
     {% assign pretty_category_name = category_name | replace: "-", " " | capitalize %}
     <p><a arial-label="Go to '{{ pretty_category_name }}' landing page"  href="{{ category_name | relative_url }}">{{ pretty_category_name }}</a></p>
     {% endif %}
     <p>
        {%- assign date_format = "%b %-d, %Y" -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           🗓 {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
        {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}
        
        {%- include read_time.html content=page.content-%} 
        {%- include workshop.html  categories=page.categories-%}
        {%- include tags.html tags=page.tags-%}
        {%- include tech_stack.html tech=page.tech-%}
     </p>
  </header>
  <section itemprop="articleBody">
   {% include toc.html html=content sanitize=true  h_min=1 h_max=3 %}
   {{ content }}
   {%- include get_the_code.html -%}
  </section>

   {%- if page.content contains 'id="contents"' -%}
      <a class="go-to-top" href="#contents">🔝</a>
   {%- endif -%}
  <data arial-label="{{ page.title | escape }}" class="u-url" href="{{ page.url | relative_url }}" hidden></data>
</article>
