---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
     <h1 itemprop="name headline">{{ page.title | escape }}</h1>
     <p>
        {%- assign date_format = "%b %-d, %Y" -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           🗓 {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
        {%- if page.author -%}
        {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}
        
        {%- include read_time.html content=page.content-%} 
        {%- include workshop.html  categories=page.categories-%}
        {%- include tech_stack.html tech=page.tech-%}
     </p>
  </header>
  <section itemprop="articleBody">
      {% include toc.html html=content sanitize=true  h_min=1 h_max=3 %}
     {{ content }}
     {%- include get_the_code.html -%}
  </section>

   {%- if page.content contains 'id="contents"' -%}
      <a class="go-to-top" href="#contents">🔝</a>
   {%- endif -%}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
