---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
     <h1 itemprop="name headline">{{ page.title | escape }}</h1>
     <p>
        {%- assign date_format = "%b %-d, %Y" -%}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
           🗓 {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
        {%- if page.author -%}
        {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ author }}</span></span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}
        
        {%- assign content = page.content -%}
        {%- include read_time.html -%} 

        {%- assign categories = page.categories -%}
        {%- include workshop.html -%}

        {%- assign tech = page.tech -%}
        {%- include tech_stack.html -%}
     </p>
  </header>
  <section itemprop="articleBody">
     <!-- {% include toc.html html=content %} -->
     {{ content }}
     {%- include get_the_code.html -%}
     {%- include go_to_top.html -%}
  </section>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
